<div class="select" (click)="toggle()">
    <span>{{ selected ?? placeholder }}</span>
    <span>▾</span>
    @if (open) {
        <div class="panel" (click)="$event.stopPropagation()">

            <div class="panel-header">
                @if (variant === 'operator') {
                    <div class="tabs">
                        <button type="button" [class.active]="tab==='string'"
                                (click)="$event.stopPropagation(); switchToTab('string')">T STRING
                        </button>
                        <button type="button" [class.active]="tab==='number'"
                                (click)="$event.stopPropagation(); switchToTab('number')"># NUMBER
                        </button>
                    </div>
                } @else {
                    @if (searchTag) {
                        <span class="search-tag">{{ searchTag }}</span>
                    }
                    <input [(ngModel)]="searchInput" class="search-input" placeholder="Filter events...">
                }
            </div>
            <ul>
                @for (option of options | search: searchInput; track tab + '|' + option) {
                    <li class="option" (click)="choose(option)">{{ option }}</li>
                }
            </ul>
        </div>
    }
</div>
